@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-family: "Montserrat", sans-serif;
    --bg-color: #F2D8D8;
    --primary-color:#374259;
}
/* 
F2D8D8 5C8984 545B77 374259
*/
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    margin: 0;
   font-family: var(--font-family);

}
h1{
    font-size: 4em;
    margin-top: 50px;
}
#lista{
    font-size: 1.5em;
    margin: 30px;
    padding: 0px;
    line-height: 1.5;
    list-style-type: circle var(--bg-color);
    align-items: left;
    

}